<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/inn.css}">
    <title>旅馆客房管理系统</title>
</head>
<body>
    <div th:fragment="nav">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <span class="navbar-brand">旅馆客房管理系统</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">首页</a>
                    </li>
                </ul>
                <ul class="navbar-nav" th:if="${session.id} == null">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/register}">注册</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">登录</a>
                    </li>
                </ul>
                <ul class="navbar-nav" th:if="${session.id} != null">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" th:text="|${session.username}|"></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" th:href="@{/userinfo}">个人信息</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}" data-method="delete">登出</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div th:if="${message} != null" th:text="${message}" th:class="|alert alert-${alertClass}|"></div>
    </div>
    <div th:fragment="footer">
        <div class="footer">
            <div class="row">
                <div class="col-6 text-left">
                    © SE-ZJU-2018
                </div>
                <div class="col-6 text-right">
                    Powered by <a href="https://spring.io/projects/spring-boot">Spring Boot</a>
                </div>
            </div>
        </div>
        <script th:src="@{/jquery-3.3.1.min.js}"></script>
        <script th:src="@{/jquery-ujs-1.2.2.js}"></script>
        <script th:src="@{/popper.min.js}"></script>
        <script th:src="@{/bootstrap.min.js}"></script>
        <script th:src="@{/inn.js}"></script>
    </div>
</body>
</html>
