<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/inn.css}">
    <title>旅馆客房管理系统</title>
</head>
<body>
    <div th:fragment="nav">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <span class="navbar-brand">旅馆客房管理系统</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">首页</a>
                    </li>
                </ul>
                <ul class="navbar-nav" th:if="${session.id} == null">
                    <li class="nav-item">
                        <a class="nav-link" href="register.html">注册</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">登录</a>
                    </li>
                </ul>
                <ul class="navbar-nav" th:if="${session.id} != null">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" th:text="|${session.username}|"></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">个人信息</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="logout.html" data-method="delete">登出</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div th:if="${message} != null" th:text="${message}" th:class="|alert alert-${alertClass}|"></div>
    </div>

    <div class="container">
        <div class="card">
            <div class="card-header text-white bg-primary">登录</div>
            <div class="card-body">
                <form th:action="@{/login}" method="post">
                    <div class="input-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">用户名</span>
                            </div>
                            <input type="text" class="form-control" name="username" required pattern="\w+">
                        </div>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">密　码</span>
                            </div>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">提交</button>
                    </div>
                </form>
                <a th:href="@{/register}" class="btn btn-info float-right">注册新账号</a>
                <span class="register-prompt">还没有注册？</span>
            </div>
        </div>
    </div>

    <div th:fragment="footer">
        <hr>
        <div class="footer">
            <div class="row">
                <div class="col-6 text-left">
                    © SE-ZJU-2018
                </div>
                <div class="col-6 text-right">
                    Powered by <a href="https://spring.io/projects/spring-boot">Spring Boot</a>
                </div>
            </div>
        </div>
        <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
        <script th:src="@{/jquery-ujs-1.2.2.js}"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script th:src="@{/inn.js}"></script>
    </div>
</body>
</html>
