<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: nav"></div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/management}">预订管理</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/checkin}">入住登记</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/checkout}">退房结账</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">客户</th>
                    <th scope="col">客房类型</th>
                    <th scope="col">房间号</th>
                    <th scope="col">入住日期</th>
                    <th scope="col">退房日期</th>
                    <th scope="col">入住登记时间</th>
                    <th scope="col">退房结账时间</th>
                    <th scope="col">总价</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${reservations}" th:object="${item}">
                    <td><a th:text="*{customer.realName}" th:href="@{/userinfo/{id}(id=*{customer.id})}"></td>
                    <td th:text="*{roomType.description}"></td>
                    <td th:if="*{allocatedRoom} != null" th:text="*{allocatedRoom.roomNumber}"></td>
                    <td th:if="*{allocatedRoom} == null">未分配</td>
                    <td th:text="*{startDate}"></td>
                    <td th:text="*{endDate}"></td>
                    <td th:if="*{checkinTime} != null" th:text="${item.getCheckinTime().format(formatter)}"></td>
                    <td th:if="*{checkinTime} == null">未入住</td>
                    <td th:if="*{checkoutTime} != null" th:text="${item.getCheckoutTime().format(formatter)}"></td>
                    <td th:if="*{checkoutTime} == null">未退房</td>
                    <td th:text="|￥*{charge}|"></td>
                    <td><a th:href="@{/reservations/{id}(id=*{id})}" data-method="delete" data-confirm="确定要删除预订吗？" class="btn btn-danger">删除</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>
