<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <div th:replace="fragments :: nav"></div>
    <div class="container">
        <div class="card">
            <div class="card-header text-white bg-primary">注册</div>
            <div class="card-body">
                <form th:action="@{/register}" th:object="${user}" method="post" class="needs-validation">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">用户名　</span>
                        </div>
                        <input type="text" class="form-control" th:field="*{username}" required pattern="\w+">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">密码　　</span>
                        </div>
                        <input type="password" class="form-control" th:field="*{password}" required>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">真实姓名</span>
                        </div>
                        <input type="text" class="form-control" th:field="*{realName}" required>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">身份证号</span>
                        </div>
                        <input type="text" class="form-control" th:field="*{identityNumber}" required minlength="18" maxlength="18">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">性别　　</span>
                        </div>
                        <select class="form-control" th:field="*{gender}">
                            <option th:value="男">男</option>
                            <option th:value="女">女</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">电话号码</span>
                        </div>
                        <input type="tel" class="form-control" th:field="*{phoneNumber}">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">电子邮箱</span>
                        </div>
                        <input type="email" class="form-control" th:field="*{emailAddress}">
                    </div>
                    <button type="submit" class="btn btn-primary">提交</button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
</body>
</html>
