<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <div th:replace="fragments :: nav"></div>
    <div class="container">
        <div class="card user-form">
            <div class="card-header text-white bg-primary">注册</div>
            <div class="card-body">
                <form th:action="@{/register}" th:object="${user}" method="post" class="needs-validation">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">用户名　</span>
                        </div>
                        <input type="text" class="form-control" th:field="*{username}" required pattern="[0-9a-zA-Z_]{4,10}">
                    </div>
                    <p class="text-left">用户名可以由数字字母下划线组成，应长于3位不长于10位</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">密码　　</span>
                        </div>
                        <input type="password" class="form-control" th:field="*{password}" required pattern="[0-9a-zA-Z_]{4,20}">
                    </div>
                    <p class="text-left">密码可以由数字字母下划线组成，应长于3位不长于20位</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">真实姓名</span>
                        </div>
                        <input type="text" class="form-control" th:field="*{realName}" required pattern="[a-zA-Z\u4E00-\u9FA5]{1,15}">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">身份证号</span>
                        </div>
                        <input type="text" class="form-control" th:field="*{identityNumber}" required pattern="[0-9]{18}">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">性别　　</span>
                        </div>
                        <select class="form-control" th:field="*{gender}">
                            <option th:value="男">男</option>
                            <option th:value="女">女</option>
                        </select>
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">电话号码</span>
                        </div>
                        <input type="tel" class="form-control" th:field="*{phoneNumber}">
                    </div>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">电子邮箱</span>
                        </div>
                        <input type="email" class="form-control" th:field="*{emailAddress}">
                    </div>
                    <p class="text-left">您已同意我们的隐私协议与服务协议</p>
                    <button type="submit" class="btn btn-primary btn-block">注册</button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments :: footer"></div>
</body>
</html>
