<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: nav"></div>
<div class="container">
    <div class="card bg-light">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3" th:object="${user}">
                    <img th:src="|https://www.gravatar.com/avatar/*{id}?d=identicon&s=200|" class="avatar">
                    <div class="user-info-row">
                        <span class="badge badge-primary">用　　户</span>
                        <span th:text="*{username}"></span>
                    </div>
                    <div class="user-info-row">
                        <span class="badge badge-primary">真实姓名</span>
                        <span th:text="*{realName}"></span>
                    </div>
                    <div class="user-info-row">
                        <span class="badge badge-primary">身份证号</span>
                        <span th:text="*{identityNumber}"></span>
                    </div>
                    <div class="user-info-row">
                        <span class="badge badge-primary">性　　别</span>
                        <span th:text="*{gender}"></span>
                    </div>
                    <div class="user-info-row" th:if="${!user.getPhoneNumber().isEmpty()}">
                        <span class="badge badge-primary">手机号码</span>
                        <span th:text="*{phoneNumber}"></span>
                    </div>
                    <div class="user-info-row" th:if="${!user.getEmailAddress().isEmpty()}">
                        <span class="badge badge-primary">电子邮箱</span>
                        <span th:text="*{emailAddress}"></span>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="card">
                        <div class="card-header text-white bg-primary">预约记录</div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">预约时间</th>
                                        <th scope="col">客房类型</th>
                                        <th scope="col">入住日期</th>
                                        <th scope="col">退房日期</th>
                                        <th scope="col">状态</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${reservations}" th:object="${item}">
                                        <th scope="row" th:text="*{id}"></th>
                                        <td th:text="${item.getReservationTime().format(formatter)}"></td>
                                        <td th:text="*{roomType.description}"></td>
                                        <td th:text="*{startDate}"></td>
                                        <td th:text="*{endDate}"></td>
                                        <td th:if="*{checkinTime} == null">未入住</td>
                                        <td th:if="*{checkinTime} != null and *{checkoutTime} == null">已入住</td>
                                        <td th:if="*{checkoutTime} != null">已完成</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments :: footer"></div>
</body>
</html>
